body {
  background: #f2f4f8;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #4f46e5;
  font-weight: bold;
}

.form-box {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field,
.field-radio {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.terms {
  font-weight: bold;
  margin-bottom: 15px;
}

.field label,
.field-radio label {
  width: 140px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: bold;
}

.field input,
.field select {
  flex: 1;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field input:focus,
.field select:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.6);
}

.options {
  display: flex;
  gap: 20px;
}

.radioopt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}

.radioopt input[type="radio"] {
  margin: 0px;
}

.radioopt span {
  line-height: 15px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 3px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.6);
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}
